<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

</head>
<body>
    <h3 class="heading">The Weather Conditions in every region of the World Reflected by Cloud News</h3>
    <div>
        <p>Welcome to this Weather App from the HTML PAGE!. Here we try to show some weather conditions specific to a city or to the whole world</p>

        <div class="city-box">
            <p>Do you want to see the weather conditions of any particular city? Type in the city and select the weather metric (temperature, cloud, pressure etc) you wish to see.</p>
            
            <div class="container">
                <div class="form-row">
                  <div class="form-group autocomplete-container">
                    <label for="city">City</label>
                    <input type="text" id="city" placeholder="Start typing a city..." autocomplete="off" />
                    <div id="autocomplete-list" class="autocomplete-suggestions"></div>
                  </div>
            
                  <div class="form-group">
                    <label for="weather_cond">Select Weather condition</label>
                    <select id="weather_cond">
                      <option value="" disabled selected>Select condition</option>
                      <option value="temp">Temperature</option>
                      <option value="cloud">Cloud</option>
                      <option value="pressure">Pressure</option>
                      <option value="wind">Wind Speed</option>
                      <option value="precip">Precipitation</option>
                    </select>
                  </div>
                </div>
            </div>
        </div>
       
        <div class="map"> 
            <hr>
            <p>Here you can see every weather conditions (temperature, cloud, wind, pressure, precipitation) in the world with our map. Just click on the area you want to see</p>
            <div class="map_container">
                <div id="map"></div>
            </div>
        </div>
    </div>

    <script> 
        window.WEATHER_API_KEY = "{{ api_key }}";
        window.GEODB_ON_RAPID_API_KEY = "{{ geo_api_key }}"
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>